//
//  Created by Hacktoolkit (@hacktoolkit) and Jonathan Tsai (@jontsai)
//  Copyright (c) 2014 Hacktoolkit. All rights reserved.
//

// You can register for Yelp API keys here: http://www.yelp.com/developers/manage_api_keys

YELP_API_CONSUMER_KEY = yourYelpConsumerKey
YELP_API_CONSUMER_SECRET = yourYelpConsumerSecret
YELP_API_TOKEN = yourYelpToken
YELP_API_TOKEN_SECRET = yourYelpTokenSecret
